* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(7, 1fr    );
    grid-template-rows: repeat(5, 200px);
}

.sidebar {
    background: #0284c7;
    width: 300px;
    height: 100vh;

}

.side-links {
    margin-left: 90px;
    display: flex;
    justify-content: flex-start;
    border: 1px solid back;
}

.side-links a {
    height: 20px;
    color: #fff;
    text-decoration: none;
}

.side-links a:hover {
    height: 20px;
    color: #fff;
    text-decoration: underline;
}

.side-links a h4 {
    font-size: 20px;
}

.grid {
    position: relative;
    height: 70vh;
    display: grid;
    grid-template-rows: repeat(9, 65px);
    background: #0284c7;
}

.dashboard {
    background: #0284c7;
    height: 30px;
    margin-bottom: 40px;
    color: #fff;
    font-size: 30px;
    margin-left: 90px;
}

.side-links i {
    position: absolute;
    left: 60px;
    color: white;
    font-size: 20px;
}

.icon_dash {
    position: absolute;
    color: white;
    font-size: 40px;
    top: 30px;
    left: 45px;
}

.header {
    grid-row: 1/2;
    grid-column: 2/8;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(10, 1fr);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.header_item1 {
    grid-column: 1/6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_item1 input {
    position: relative;
    width: 700px;
    height: 30px;
    border-radius: 40px;
    border: none;
    outline: none;
    background: #cbd5e1;
    cursor: text;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.header_item1 i {
    position: absolute;
    left: 375px;
    font-size: 20px;
}

.header_item2 {
    grid-column: 8/11;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bx-bell {
    font-size: 20px;
}

.header_item2 div {
    height: 50px;
    width: 50px;
    max-height: 50px;
    max-width: 50px;
}

.header_item2 {
    font-weight: 600;
    font-size: 20px;
}

.header_item3 {
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header_item3 i {
    font-size: 70px;
}

.header_item4 {
    grid-column: 2/6;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
    flex-direction: column;
}

.header_item4 p {
    font-weight: 550;
}

.header_item4 span {
    margin-top: 7px;
    font-size: 30px;
}

.header_item5 {
    grid-column: 7/11;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_buttons {
    border: none;
    outline: none;
    border-radius: 20px;
    background: #0284c7;
    height: 40px;
    width: 150px;
    color: white;
    cursor: pointer;
}

.profile_pic {
    justify-self: center;
    height: 60px;
    width: 60px;
    max-height: 60px;
    max-width: 60px;
    border-radius: 50%;
    background-image: url("https://ih1.redbubble.net/image.3468841742.7725/st,small,507x507-pad,600x600,f8f8f8.u1.jpg");
    background-size: 100%;
}

.main {
    display: flex;
    grid-row: 2/6;
    grid-column: 2/8;
    background-color: #f3f4f6;
    position: relative;
}

.my_projects{
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: repeat(3, 210px);
    grid-template-columns: repeat(2, 500px);
    gap: 15px;
}

.articles {
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.articles .card {
    width: 12px;
    height: 250px;
    background-color: #fbbf24;
}


.articles .content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 120px;
    width: 400px;
}
.text p {
    margin-top: 15px;
}

.projects_title {
    position: absolute;
    top: 15px;
    left: 79px;
    font-size: 23px;
}

.article_item1 {
    position: absolute;
    bottom: 20px;
    right: 95px;
    font-size: 20px;
    
}

.article_item2 {
    position: absolute;
    bottom: 20px;
    right: 55px;
    font-size: 20px;
    
}

.announcments {
    width: 100%;
    margin: 50px 70px 86px 100px;
    display: flex;
    flex-direction: column;
}

.first {
    height: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    padding: 40px;
    border-radius: 10px;
}


hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.fist_content h5 {
    margin-bottom: 5px;
    font-size: 16px;
}

.announc_title {
    position: absolute;
    right: 250px;
    top: 15px;
    font-size: 23px;
}

.trending_title {
    position: absolute;
    font-size: 23px;
    bottom: 340px;
    right: 320px;
}

.second {
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    margin-top: 80px;
    height: 290px;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.pic1 {
    justify-self: center;
    height: 50px;
    width: 50px;
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    background-image: url("https://raw.githubusercontent.com/Bonavoot/Admin_Dashboard/main/ProfilePics/dog.jpg");
    background-size: 100%;
}

.pic2 {
    justify-self: center;
    height: 50px;
    width: 50px;
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    background-image: url("https://i.etsystatic.com/40591138/r/il/a2ebb6/4651343399/il_300x300.4651343399_cnwn.jpg");
    background-size: 100%;
    margin-top: 20px;
}

.pic3 {
    justify-self: center;
    height: 50px;
    width: 50px;
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    background-image: url("https://as1.ftcdn.net/v2/jpg/00/64/30/06/1000_F_64300613_1TYCvyzq09Go7oEVXkDQypofuaJEwKTo.jpg");
    background-size: 100%;
    margin-top: 20px;
}

.pic4 {
    justify-self: center;
    height: 50px;
    width: 50px;
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    background-image: url("https://media.istockphoto.com/id/118320412/photo/young-chimpanzee-simia-troglodytes.jpg?s=612x612&w=0&k=20&c=JR4lPk-EmTDc-z8qBca69c6qt0i1pYghm-dJVD29C_g=");
    background-size: 100%;
    margin-top: 20px;
}

.user {
    display: flex;
}
.user_data  {
    margin-left: 10px;
    margin-top: 25px;
}

.dog_data {
    margin-left: 10px;
    margin-top: 10px;
}

.user h5 {
    font-size: 16px;
    margin-bottom: 5px;
}